In [2]:
import pandas as pd

Q1:  What are the most common delays? Do they occur often?

In [6]:
delayed_df = pd.read_csv("datasets/delayed.csv")
delayed_df

,month,division,line,day_type,incidents,reporting_category
0,2024-01-01T00:00:00.000,A DIVISION,1,1,0,NaN
1,2024-01-01T00:00:00.000,A DIVISION,1,1,31,Crew Availability
2,2024-01-01T00:00:00.000,A DIVISION,1,1,2,External Factors
3,2024-01-01T00:00:00.000,A DIVISION,1,1,92,Infrastructure & Equipment
4,2024-01-01T00:00:00.000,A DIVISION,1,1,86,Operating Conditions
...,...,...,...,...,...,...
3761,2024-12-01T00:00:00.000,B DIVISION,S ROCK,2,16,External Factors
3762,2024-12-01T00:00:00.000,B DIVISION,S ROCK,2,6,Infrastructure & Equipment
3763,2024-12-01T00:00:00.000,B DIVISION,S ROCK,2,1,Operating Conditions
3764,2024-12-01T00:00:00.000,B DIVISION,S ROCK,2,1,Planned ROW Work
3765,2024-12-01T00:00:00.000,B DIVISION,S ROCK,2,0,Police & Medical

In [7]:
#redoing the cleaning I did in the MTA_Code notebook because it didnt transfer over

#Clean line column for syntax issues (capitalization and white space from front and back)
delayed_df['line'] = delayed_df['line'].str.strip().str.upper()

In [16]:
x = delayed_df.groupby('reporting_category').agg('sum')
x

,month,division,line,day_type,incidents
reporting_category,,,,,
Crew Availability,2024-01-01T00:00:00.0002024-01-01T00:00:00.000...,A DIVISIONA DIVISIONA DIVISIONA DIVISIONA DIVI...,11223344556677S 42NDS 42NDAABCCDDEEFFGGJZJZLLM...,800,5229
External Factors,2024-01-01T00:00:00.0002024-01-01T00:00:00.000...,A DIVISIONA DIVISIONA DIVISIONA DIVISIONA DIVI...,11223344556677S 42NDS 42NDAABCCDDEEFFGGJZJZLLM...,800,1628
Infrastructure & Equipment,2024-01-01T00:00:00.0002024-01-01T00:00:00.000...,A DIVISIONA DIVISIONA DIVISIONA DIVISIONA DIVI...,11223344556677S 42NDS 42NDAABCCDDEEFFGGJZJZLLM...,800,17063
Operating Conditions,2024-01-01T00:00:00.0002024-01-01T00:00:00.000...,A DIVISIONA DIVISIONA DIVISIONA DIVISIONA DIVI...,11223344556677S 42NDS 42NDAABCCDDEEFFGGJZJZLLM...,800,17619
Planned ROW Work,2024-01-01T00:00:00.0002024-01-01T00:00:00.000...,A DIVISIONA DIVISIONA DIVISIONA DIVISIONA DIVI...,11223344556677S 42NDS 42NDAABCCDDEEFFGGJZJZLLM...,800,14228
Police & Medical,2024-01-01T00:00:00.0002024-01-01T00:00:00.000...,A DIVISIONA DIVISIONA DIVISIONA DIVISIONA DIVI...,11223344556677S 42NDS 42NDAABCCDDEEFFGGJZJZLLM...,800,22197